<!-- templates/top.html -->
<html>
<body>
    <h2>Hello!</h2>
    <p>Welcome to the Top Page.</p>
    
    <form method="GET" action="/Up">
        <button type="submit" style="width:200px;height:100px">Up</button>
    </form>
  
  
    <form method="GET" action="/Stop">
        <button type="submit" style="width:200px;height:100px">Stop</button>
    </form>
  
  
    <form method="GET" action="/Down">
        <button type="submit" style="width:200px;height:100px">Down</button>
    </form>

    <p></p>
    <a href="/logout">Logout</a>
</body>
</html>

